<div class="page-about">
    <div class="container">

        <div class="row align-items-center">




            <div class="col-lg-7">
                <!-- About Us Content Start -->
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <!-- <h3 class="wow fadeInUp">about us</h3> -->
                         <h2 class="services-list-box animate__heartBeat animate__heartBeat_sec2 " style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Empowering Shipping Businesses with Innovative Software Solutions</h2>
                    </div>
                    <!-- Section Title End -->
                    <p class="services-list-box animate__heartBeat animate__heartBeat_sec2 " style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                        At ITElegant Software Solutions, we empower shipping and logistics businesses to navigate
the complexities of modern transportation and freight management with our innovative
software solutions. We understand the critical role efficient operations, accurate tracking, and
effective resource management play in the success of shipping businesses. Our team provides
the tools necessary to optimize processes, enhance customer satisfaction, and gain a
competitive edge in the market.
                    </p>
                </div>
                <!-- About Us Content End -->
            </div>
            <div class="col-lg-5">
                <!-- About Us Image Start -->
                <div class="page-about-image">
                    <div class="about-img-1">
                        <figure class="image-anime reveal services-list-box" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                            <img _ngcontent-ng-c657894600="" width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s" alt="" decoding="async" fetchpriority="high" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s 560w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s 300w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s 124w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s 68w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s 136w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLGLBS0QXz7PS4grmuJR_069E0DqKfagd9Hg&s 248w" sizes="(max-width: 2560px) 100vw, 2560px" class="attachment-full size-full" style="transform: translate(0px, 0px);">

                        </figure>
                    </div>

                </div>
                <!-- About Us Image End -->
            </div>



        </div>
    </div>
</div>
<section class="offers">
    <div class="max-content-width">
        <div class="container-fluid">
            <h4 class="title">ITElegant Software Solutions for Shipping</h4>
           

            <div class="row service-content">
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Digital Transformation in Shipping </h6>
                        <p class="desc">Embrace the future with cutting-edge technologies like AI, machine learning,
                            and IoT.
                             Automate processes, enhance route optimization and improve data-driven
                            decision-making.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Custom Shipping Software Development</h6>
                        <p class="desc">Develop custom software tailored to your specific shipping needs to perfectly
                            fit your unique operations.
                             Avoid generic solutions by opting for personalized software that addresses
                            your business distinct challenges.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Transportation Management Systems (TMS)</h6>
                        <p class="desc">Optimize your transportation network with intelligent routing, carrier
                            management tools, and real-time shipment tracking.
                             Reduce transportation costs, improve delivery accuracy, and enhance overall
                            efficiency.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Fleet Management Software</h6>
                        <p class="desc">Manage your fleet with advanced tracking and management tools.
                             Improve vehicle utilization, monitor driver performance, and enhance
                            maintenance scheduling.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Cargo and Freight Management Solutions</h6>
                        <p class="desc"> Streamline cargo handling and freight operations with comprehensive
                            management tools.
                            Optimize loading processes, track cargo in real time, and manage
                            documentation efficiently.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Supply Chain Visibility Solutions</h6>
                        <p class="desc"> Gain complete visibility into your supply chain operations.
                            Enhance tracking, improve forecasting accuracy, and proactively address
                            potential disruptions.</p>
                    </div>
                </div>
                              
                            </div>
        </div>
    </div>
</section>
<div class="page-about">
    <div class="container">
        <div class="row align-items-center industry">
            <div class="col-lg-6">
                <!-- About Us Image Start -->
                <div class="page-about-image">
                    <div class="about-img-1">
                        <figure class="image-anime reveal services-list-box animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEiTCG6sa7m9dmyf0C0A0RnsbncU5_litndg&s" alt="" style="transform: translate(0px, 0px);">
                        </figure>
                    </div>

                </div>
                <!-- About Us Image End -->
            </div>

            <div class="col-lg-6">
                <!-- About Us Content Start -->
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <!-- <h3 class="wow fadeInUp">about us</h3> -->
                         <h2>Our IT Solutions for Shipping</h2>
                    </div>
                    <ul class="our-solution">
                     
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i> Transportation Management Systems (TMS)
                            </p>
                        </li>
                        <li>
                            <p> <i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Fleet Management Software
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Cargo and Freight Management Solutions

                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Supply Chain Visibility Solutions
                            </p>
                        </li>
                        <li>
                            <p> <i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Real-Time Tracking and Monitoring

                                .</p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Route Optimization Software
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Data Integration &amp; Analytics Platforms

                                .</p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Cybersecurity and Data Protection

                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Mobile and Tablet-Based Solutions
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Project Management Software
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- About Us Content End -->
            </div>

        </div>
    </div>
</div>

