@media only screen and (max-width: 767px) {
    .whatdo-section-main {
        padding: 50px 20px;
    }

    .what-do-left span.verticle-line {
        margin-bottom: 20px;
    }

    .what-do-section h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .about {
        padding: 50px 20px;
    }

    .page-about-image {
        margin-right: 0;
        padding-bottom: 30px;
    }

    .image-anime {
        height: 15rem;
    }

    .section-title h2 {
        font-size: 30px;
    }

    .section-title h3 {
        font-size: 26px;
    }
}
span.verticle-line:before {
    width: 24px;
    height: 2px;
    background-color: #f70b7f;
    display: inline-block;
    vertical-align: middle;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
}
.about{
    padding: 101px 49px 49px 49px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.page-about-image {
    position: relative;
    margin-right: 20px;
    padding-bottom: 52px;
}

.reveal {
    position: relative;
    display: inline-flex;
    visibility: hidden;
    overflow: hidden;
}

.image-anime {
    position: relative;
    overflow: hidden;
    height: 25rem;
}

figure {
    margin: 0;
}

.about-img-1 img {
    border-radius: 40px;
}

.reveal img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transform-origin: left;
    transform-origin: left;
}

img {
    max-width: 100%;
}   

.image-anime:hover:after {
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}

.image-anime:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}

.page-about .about-content .section-title {
    margin-bottom: 30px;
}
.section-title {
    text-align: left;
}
.section-title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color: #f70b7f;
    margin-bottom: 10px;
}
.section-title h2 {
    font-size: 50px;
    letter-spacing: -0.05em;
    margin-bottom: 0;
    font-family: inherit;
    color: #f70b7f;
}
p {
    line-height: 1.6em;
    margin-bottom: 1.5em;
    font-family: rubik;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.section-title {
    text-align: left;
}
.page-about .about-content .section-title {
    margin-bottom: 30px;
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translate(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.ani {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.main-footer {
    background-color: #f7f8fd;
    padding: 80px 0 0;
}

.mega-footer {
    margin-bottom: 40px;
}
figure {
    margin: 0;
}
.footer-about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-about ul li {
    margin-bottom: 15px;
}

.footer-about ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    font-family: inherit;
}

.footer-about-icon ul li a {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.footer-about ul li:last-child {
    margin-bottom: 0;
}

.footer-about ul li {
    margin-bottom: 15px;
}
.footer-about .contact-detail-body ul li a {
    width: 40px;
    height: 40px;
}

.footer-links h2 {
    font-size: 19px;
    color: #f70b7f;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .9rem;
    font-family: inherit;
}
.footer-links ul li {
    margin-bottom: 15px;
    color: #000;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
.footer-links ul li a {
    color: inherit;
    text-decoration: none;
}
.footer-links ul li:last-child {
    margin-bottom: 0;
}
.footer-copy {
    display: flex;
    justify-content: center;
    row-gap: 2px;
    column-gap: 2px;
}
.footer-copy li {
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    font-family: inherit;
}
.footer-copy li a {
    color: black;
}
.footer-copyright {
    padding: 20px 0;
    border-top: 1px solid #a1abc1;
}
.footer-copyright-text {
    display: flex;
    row-gap: 30px;
    column-gap: 30px;
    font-family: inherit;
}
.footer-copyright-text ul {
    position: fixed;
    bottom: 20px;
    left: 20px;
    margin-bottom: 0px;
}
.footer-copyright-text li {
    list-style: none;
}
.footer-copyright-text li a.btn-top {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    background: linear-gradient(298deg, #f70b7f 3%, #247e9c 60%, #840dcf 97%);
}
.footer-copyright-text li a {
    color: var(--text-color);
    text-transform: capitalize;
    font-weight: 700;
}
.footer-copyright-text p {
    margin: 0;
}
.footer-policy-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: end;
    font-family: inherit;
}
.footer-policy-links ul li {
    display: inline-block;
    text-transform: capitalize;
    margin-right: 30px;
}
.footer-policy-links ul li a {
    color: #000;
}
.contact-detail-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-detail-body ul li {
    display: inline-block;
    margin-right: 12px;
}
.contact-detail-body ul li a {
    background-color: #f70b7f;
    border: 2px solid #f70b7f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
}
.footer-links ul li:hover {
    color: #f70b7f;
}
.why-choose-us {
    background-color: #f7f8fd;
    padding: 100px 0;
}
.section-row {
    margin-bottom: 60px;
}
.why-choose-us-item {
    background-color: #fff;
    border-radius: 40px;
    padding: 40px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
}
.why-choose-us-item h3 {
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.why-choose-us-item p {
    margin: 0;
    line-height: 1.6em;
}
.partners-logo {
    background-color: #f7f8fd;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19rem;
    margin-left: 2rem;
}
.exclusive-partners{
    margin-top: 6rem; 
}
.overview-company {
    background-color: #f7f8fd;
    padding: 100px 0 70px;
}
.mySwiper {
    padding: 2rem;
}
.wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    margin-top: 5rem;
    overflow: hidden;
    display: inline-flex;
    background: linear-gradient(318deg, #523c95 0, #6a416b 53%, #0dcfb4 100%);
}
 @keyframes scrollLeft {
    to{
        left: -200px;
    }
 }

 .item {
    width: 32rem;
    height: 13vh;
    position: relative;
    left: 100%;
    animation-name: scrollLeft;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    color: #fff;
    font-size: 2rem;
    font-family: inherit;
    font-weight: 500;
    padding: 22px 0;
    text-wrap: nowrap;
 }

 .item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item2 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item3 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item4 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item5 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item6 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item7 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item8 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item9 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }
 .item10 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
 }

 @keyframes appear {
    from {
        opacity: 0;
        transform: translate(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

 .animate__heartBeat_sec2{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
.news-container {
    top: 0;
    left: 0;
    right:0;
    font-family: inherit;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    background: linear-gradient(318deg, #523c95 0, #6a416b 53%, #0dcfb4 100%);
    height: 4rem;
    font-size: 1.5rem;
}

.news-container ul {
display: flex;
list-style: none;
margin: 0;
animation: scroll 15s infinite linear;
}
.news-container ul li{
white-space: nowrap;
padding: 10px 24px;
color: #fff;
position: relative;
 }

.news-container ul li::after{
    content: "";
    width: 1px;
    height: 100%;
    background: linear-gradient(318deg, #523c95 0, #6a416b 53%, #0dcfb4 100%);
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
}
.news-container ul li:last-child::after{
    display: none;
}

@keyframes scroll {
    from {
        transform: translate(100%);
    }

    to {
        transform: translateX();
    }
}
