
<div class="app-title">CyberSecurity</div>
<div class="page-service-single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Service Content Start -->
                <div class="service-single-content">
                    <!-- Service Featured Image Start -->
                    <div class="service-featured-image">
                        <figure class="image-anime reveal animate__heartBeat animate__heartBeat_sec2" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                            <img _ngcontent-ng-c657894600="" width="2560" height="1707" src="" alt="" decoding="async" fetchpriority="high" srcset="https://t4.ftcdn.net/jpg/03/72/23/15/360_F_372231560_9xCCHPbhy1GDSkoVjlCW2pSHDKA7lEQk.jpg 560w, https://t4.ftcdn.net/jpg/03/72/23/15/360_F_372231560_9xCCHPbhy1GDSkoVjlCW2pSHDKA7lEQk.jpg 300w, https://t4.ftcdn.net/jpg/03/72/23/15/360_F_372231560_9xCCHPbhy1GDSkoVjlCW2pSHDKA7lEQk.jpg 124w, https://t4.ftcdn.net/jpg/03/72/23/15/360_F_372231560_9xCCHPbhy1GDSkoVjlCW2pSHDKA7lEQk.jpg 68w, https://t4.ftcdn.net/jpg/03/72/23/15/360_F_372231560_9xCCHPbhy1GDSkoVjlCW2pSHDKA7lEQk.jpg 136w, https://t4.ftcdn.net/jpg/03/72/23/15/360_F_372231560_9xCCHPbhy1GDSkoVjlCW2pSHDKA7lEQk.jpg 248w" sizes="(max-width: 2560px) 100vw, 2560px" class="attachment-full size-full" style="transform: translate(0px, 0px);">
                        </figure>
                    </div>
                    <div class="service-entry">
                        <p class="animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">ITElegant Software Solutions</p>
                        <p class="animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Protecting Your Business with Cutting-Edge Cybersecurity</p>
                        <p class="animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">At ITElegant Software Solutions, we recognize the critical importance of safeguarding your
                            digital assets and infrastructure from evolving cyber threats. Our comprehensive
                            cybersecurity solutions are designed to protect your organization from attacks, ensure data
                            integrity, and maintain operational continuity. We provide the tools and expertise necessary to
                            fortify your defences and secure your valuable information.</p>
                    </div>
                    <!-- Service Entry Content End -->
                </div>
                <!-- Service Content End -->
            </div>

            <div class="col-lg-4" style="margin-top: -4rem;">
                <div class="service-sidebar">
                    <!-- Service List Box Start -->
                    <div class="services-list-box animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <h3>Our Cybersecurity Solutions</h3>
                        <ul>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Threat Detection and Response</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Network Security</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Endpoint Security</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Data Encryption</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Identity and Access Management (IAM)</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Security Information and Event Management (SIEM)</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Vulnerability Management</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Incident Response and Recovery</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Cybersecurity Consulting</a></li>
                            <li><a><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Compliance and Risk Management</a></li>
                        </ul>
                        <button class="appbtn animate__heartBeat" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                            <a href="/contact-us"  style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;color: #fff;text-decoration: none;">Get CyberSecurity Solutions</a>&nbsp; <i class="bi bi-arrow-up-right-circle" style="font-size: 1rem; color: #fff;"></i>
                        </button>
                    </div>
                    <!-- Service List Box End -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-services">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-7 col-md-7">
                <div class="section-title">
                    <h3  style="visibility: visible; animation-name: fadeInUp;">Related Services</h3>
                    <h2 class="text-anime-style-3 text-center text-md-start">Explore our related services</h2>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Threat Detection and Response</h2>
                        </div>
                        <p>Implement advanced threat detection systems to identify and respond to cyber
                            threats in real time.Utilize machine learning and AI to enhance threat detection capabilities and
                            automate response processes.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc_bQrbuk3ue5CH6E3PXUkkjXYb8WSRyrzEA&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Network Security</h2>
                        </div>
                        <p>Secure your network infrastructure with firewalls, intrusion detection systems
                            (IDS), and intrusion prevention systems (IPS).Monitor network traffic, detect anomalies, and prevent unauthorized access to
                            protect your data and systems.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAtQNK9RWFgMZfOtqA-fD2RvDFrgWYS1e0Rw&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Endpoint Security</h2>
                        </div>
                        <p>Protect endpoints such as desktops, laptops, and mobile devices with
                            comprehensive security solutions.
                             Deploy antivirus, anti-malware, and endpoint detection and response (EDR)
                            tools to safeguard against threats.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0JRuDYPmm8r3s4r_Ov7OeFqm9WQjuT_CkGg&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Data Encryption</h2>
                        </div>
                        <p>Ensure data confidentiality and integrity with robust encryption solutions.
                            Implement encryption for data at rest and in transit to protect sensitive
                            information from unauthorized access.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBD0widO6WSSl9nyMRY_kFLFMFYkySfrInFA&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Identity and Access Management</h2>
                        </div>
                        <p>Manage user identities and control access to critical systems and data.
                            Implement multi-factor authentication (MFA), single sign-on (SSO), and role-
                            based access controls (RBAC) to enhance security.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiHgG6QxgwWbWvmUn61qYKdl4ZptkmKSPPAQ&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Security Information and Event Management</h2>
                        </div>
                        <p>Utilize SIEM systems to collect, analyze, and correlate security data from
                            across your organization.
                            Gain real-time insights into security events, identify potential threats, and
                            streamline incident response.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScEnFPlCQjnODt5nYJjaNl7PUGOLOeZ6xQUA&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Vulnerability Management</h2>
                        </div>
                        <p>Conduct regular vulnerability assessments and penetration testing to identify
                            and address security weaknesses.
                            Implement patch management processes to ensure timely updates and
                            remediation of vulnerabilities.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnRoJyoVRFUvkxnwpBTWzJbPODpHHyVDj2KQ&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.75s; animation-name: fadeInUp;">
                    <div class="service-content">
                        <div class="service-content-title">
                                <h2>Incident Response and Recovery</h2>
                        </div>
                        <p>Develop and implement incident response plans to quickly address and
                            recover from security breaches.
                             Coordinate response efforts, manage incidents, and restore normal operations
                            with minimal disruption.</p>
                    </div>
                    <div class="service-image">
                        <figure class="image-anime">
                            <img width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0YWQU1YJqEY2FCHIi5Mq3VFuxiHTXNCSv0w&s" sizes="(max-width: 2560px) 100vw, 2560px"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mega-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div >
                                <figure>
                                       <!-- <img src="../../assets/images/logo.jpeg" alt="logo" style="width: 2rem;"> -->
                                </figure>
                                <p>Elevating Tech Beyond Limits</p>
                                <div class="footer-about">
                                    <ul>
                                        <li><a class="text-lowercase">support&#64;ITElegant.com</a></li>
                                        <li><a>+447850514329</a></li>
                                    </ul>
                                </div>
                                    <div class="contact-detail-body mt-3">
                                        <ul>
                                            <li><a href="https://www.facebook.com/ayntech/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/ayntechuk/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/company/ayn-tech-pvt-ltd" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                                            <li><a href="https://x.com/ayntechuk" target="_blank"><i class="bi bi-twitter"></i></a></li>
                                        </ul>
                                </div>     
                        </div>    
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="footer-links">
                                <h2>pages</h2>
                                <ul>
                                    <li><a href="/home" routerLinkActive="active">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/insights">Insights</a></li>
                                    <li><a href="/login">Login/Register</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="col-lg-2 col-md-4">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Industry</h2>
                                <ul>
                                    <ul>
                              <li><a href="/oil">Oil</a></li>
                              <li><a href="/banking">Banking</a></li>
                              <li><a href="/Retail">Retail</a></li>
                              <li><a href="/logistics">Logistics</a></li>
                              <li><a href="/manufacturing">Manufacturing</a></li>
                              <li><a href="/warehouses">Warehouses</a></li>
                              <li><a href="/dataCentre">Data Centre</a></li>
                              <li><a href="/shipping">Shipping</a></li>
  
          </ul>
                                </ul>
  
                            </div>
                            <!-- Footer Links End -->
                            
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Services</h2>
                                <ul>
                                    <li><a href="/appDevelopmentComponent">Application Development</a></li>
                                    <li><a href="/aiSolutions">AI Solutions</a></li>
                                    <li><a href="/cyberSecurity">Cyber Security</a></li>
                                    <li><a href="/businessProcessOpt">Business Process Optimization</a></li>
                                    <li><a href="/CloudInfra">Cloud Infrastructure</a></li>
                                    <li><a href="/businessConsulting">Business Consulting</a></li>
                                    <li><a href="/dataAnalytics">Data &Analytics</a></li>
                                    <li><a href="/digitalExp">Digital Experience</a></li>
                                    <li><a href="/engSolutions">Engineering Solutions</a></li>
                                    <li><a href="/sustainability">Sustainability</a></li>
                                   
                                </ul>
                            </div>
                            <!-- Footer Links End -->
                        </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="footer-copy ps-0">
                            <li>Registered in England &amp; Wales |</li>
                        <!-- <li><a href="https://find-and-update.company-information.service.gov.uk/company/15750143">Company #15750143</a> </li>  -->
                        <li>Company #15750143 </li>     
                    </ul>
                       
                    
                    </div>
                
                </div>
                <div class="footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                         
                            <!-- Footer Copyright Content Start -->
                            <div class="footer-copyright-text">
                              <ul class="p-0">
                                  <li class="highlighted"><a href="#top" class="btn-top shadow-lg" role="button"><i class="bi bi-arrow-up-short" style="font-size: 3rem;"></i></a></li></ul>
                                <p>Copyright © 2024  ITElegant. All rights reserved.</p>
                            </div>
                            <!-- Footer Copyright Content End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Footer Policy Links Start -->
                            <div class="footer-policy-links">
                                <ul>
                                    <!-- <li><a href="https://ayntech.org/privacy-policy">privacy policy</a></li>
                                    <li><a href="https://ayntech.org/terms-and-conditions">terms &amp; conditions</a></li>
                                    <li><a href="https://ayntech.org/cookie-policy">cookie policy</a></li> -->
                                    <!-- <li class="highlighted"><a href="#top">go to top</a></li> -->
                                    <li>privacy policy</li>
                                    <li>terms &amp; conditions</li>
                                    <li>cookie policy</li>
                                </ul>
                            </div>
                            <!-- Footer Policy Links End -->
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
  