<div class="page-about">
    <div class="container">

        <div class="row align-items-center">




            <div class="col-lg-7">
                <!-- About Us Content Start -->
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <!-- <h3 class="wow fadeInUp">about us</h3> -->
                         <h2 class="services-list-box animate__heartBeat animate__heartBeat_sec2 " style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Empowering Manufacturing with Innovative Software Solutions</h2>
                    </div>
                    <!-- Section Title End -->
                    <p class="services-list-box animate__heartBeat animate__heartBeat_sec2 " style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                        At ITElegant Software Solutions, we empower manufacturing businesses to navigate the
                        complexities of modern production environments with our innovative software solutions. We
                        understand the critical role efficient operations and smart technologies play in the success of
                        manufacturing businesses. Our team is dedicated to providing the tools necessary to optimize
                        processes, reduce costs, and gain a competitive edge in the market.
                    </p>



                </div>
                <!-- About Us Content End -->
            </div>
            <div class="col-lg-5">
                <!-- About Us Image Start -->
                <div class="page-about-image">
                    <div class="about-img-1">
                        <figure class="image-anime reveal services-list-box" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                            <img _ngcontent-ng-c657894600="" width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s" alt="" decoding="async" fetchpriority="high" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s 560w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s 300w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s 124w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s 68w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s 136w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQluQZn_wiiS35NP5FF9_olUPwVmXBZvu7P5A&s 248w" sizes="(max-width: 2560px) 100vw, 2560px" class="attachment-full size-full" style="transform: translate(0px, 0px);">

                        </figure>
                    </div>

                </div>
                <!-- About Us Image End -->
            </div>



        </div>
    </div>
</div>
<section class="offers">
    <div class="max-content-width">
        <div class="container-fluid">
            <h4 class="title">IT Elegant for the Manufacturing Industry</h4>
           

            <div class="row service-content">
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Digital Transformation in Manufacturing </h6>
                        <p class="desc">Embrace the future with cutting-edge technologies like AI, machine learning,
                            and IoT.
                            Automate processes, enhance predictive maintenance and improve data-driven
                            decision-making.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Custom Manufacturing Software Development </h6>
                        <p class="desc">Develop custom software tailored to your needs for a perfect fit in your unique
                            manufacturing operations.
                            Avoid generic solutions by opting for personalized software that addresses
                            your business&#39;s distinct challenges.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Manufacturing Execution Systems (MES)</h6>
                        <p class="desc">Optimize shop floor operations with real-time data and process control.
                            o Enhance production efficiency, monitor quality, and improve overall
                            equipment effectiveness.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Enterprise Resource Planning (ERP) Systems</h6>
                        <p class="desc">Integrate all your business processes with a comprehensive ERP solution.
                            o Manage inventory, procurement, production planning, and financials with a
                            unified system.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Supply Chain Management Software</h6>
                        <p class="desc"> Improve visibility and control over your supply chain.
                            Proactively address potential disruptions, enhance demand forecasting, and
                            streamline logistics.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Quality Management Systems (QMS)</h6>
                        <p class="desc">Ensure consistent product quality and compliance with industry standards.
                            Automate quality checks, manage non-conformances and drive continuous
                            improvement.</p>
                    </div>
                </div>
                            </div>
        </div>
    </div>
</section>
<div class="page-about">
    <div class="container">
        <div class="row align-items-center industry">
            <div class="col-lg-6">
                <!-- About Us Image Start -->
                <div class="page-about-image">
                    <div class="about-img-1">
                        <figure class="image-anime reveal services-list-box animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShuHt2Vi0sxa_d9yjNtkaINJlxIRyVo1EJhw&s" alt="" style="transform: translate(0px, 0px);">
                        </figure>
                    </div>

                </div>
                <!-- About Us Image End -->
            </div>

            <div class="col-lg-6">
                <!-- About Us Content Start -->
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <!-- <h3 class="wow fadeInUp">about us</h3> -->
                         <h2>Our Manufacturing Software Solutions</h2>
                    </div>
                    <ul class="our-solution">
                     
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i> Manufacturing Execution Systems (MES)
                            </p>
                        </li>
                        <li>
                            <p> <i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Enterprise Resource Planning (ERP) Systems
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Supply Chain Management Software

                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Quality Management Systems (QMS)
                            </p>
                        </li>
                        <li>
                            <p> <i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Predictive Maintenance Software

                                .</p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Industrial IoT (IIoT) Solutions
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Data Integration &amp; Analytics Platforms

                                .</p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Cybersecurity and Data Protection

                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Digital Twin Technology
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Project Management Software
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- About Us Content End -->
            </div>

        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mega-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div >
                                <figure>
                                     <img src="../../assets/images/logo.jpeg" alt="logo" style="width: 2rem;">
                                </figure>
                                <p>Elevating Tech Beyond Limits</p>
                                <div class="footer-about">
                                    <ul>
                                        <li><a class="text-lowercase">support&#64;ITElegant.com</a></li>
                                        <li><a>+447850514329</a></li>
                                    </ul>
                                </div>
                                    <div class="contact-detail-body mt-3">
                                        <ul>
                                            <li><a href="https://www.facebook.com/ayntech/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/ayntechuk/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/company/ayn-tech-pvt-ltd" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                                            <li><a href="https://x.com/ayntechuk" target="_blank"><i class="bi bi-twitter"></i></a></li>
                                        </ul>
                                </div>     
                        </div>    
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="footer-links">
                                <h2>pages</h2>
                                <ul>
                                    <li><a href="/home" routerLinkActive="active">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/insights">Insights</a></li>
                                    <li><a href="/login">Login/Register</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="col-lg-2 col-md-4">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Industry</h2>
                                <ul>
                                    <ul>
                              <li><a href="/oil">Oil</a></li>
                              <li><a href="/banking">Banking</a></li>
                              <li><a href="/Retail">Retail</a></li>
                              <li><a href="/logistics">Logistics</a></li>
                              <li><a href="/manufacturing">Manufacturing</a></li>
                              <li><a href="/warehouses">Warehouses</a></li>
                              <li><a href="/dataCentre">Data Centre</a></li>
                              <li><a href="/shipping">Shipping</a></li>
  
          </ul>
                                </ul>
  
                            </div>
                            <!-- Footer Links End -->
                            
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Services</h2>
                                <ul>
                                    <li><a href="/appDevelopmentComponent">Application Development</a></li>
                                    <li><a href="/aiSolutions">AI Solutions</a></li>
                                    <li><a href="/cyberSecurity">Cyber Security</a></li>
                                    <li><a href="/businessProcessOpt">Business Process Optimization</a></li>
                                    <li><a href="/CloudInfra">Cloud Infrastructure</a></li>
                                    <li><a href="/businessConsulting">Business Consulting</a></li>
                                    <li><a href="/dataAnalytics">Data &Analytics</a></li>
                                    <li><a href="/digitalExp">Digital Experience</a></li>
                                    <li><a href="/engSolutions">Engineering Solutions</a></li>
                                    <li><a href="/sustainability">Sustainability</a></li>
                                   
                                </ul>
                            </div>
                            <!-- Footer Links End -->
                        </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="footer-copy ps-0">
                            <li>Registered in England &amp; Wales |</li>
                        <!-- <li><a href="https://find-and-update.company-information.service.gov.uk/company/15750143">Company #15750143</a> </li>  -->
                        <li>Company #15750143 </li> 
                    </ul>
                       
                    
                    </div>
                
                </div>
                <div class="footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                         
                            <!-- Footer Copyright Content Start -->
                            <div class="footer-copyright-text">
                              <ul class="p-0">
                                  <li class="highlighted"><a href="#top" class="btn-top shadow-lg" role="button"><i class="bi bi-arrow-up-short" style="font-size: 3rem;"></i></a></li></ul>
                                <p>Copyright © 2024  ITElegant. All rights reserved.</p>
                            </div>
                            <!-- Footer Copyright Content End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Footer Policy Links Start -->
                            <div class="footer-policy-links">
                                <ul>
                                    <!-- <li><a href="https://ayntech.org/privacy-policy">privacy policy</a></li>
                                    <li><a href="https://ayntech.org/terms-and-conditions">terms &amp; conditions</a></li>
                                    <li><a href="https://ayntech.org/cookie-policy">cookie policy</a></li> -->
                                    <!-- <li class="highlighted"><a href="#top">go to top</a></li> -->
                                    <li>privacy policy</li>
                                    <li>terms &amp; conditions</li>
                                    <li>cookie policy</li>
                                </ul>
                            </div>
                            <!-- Footer Policy Links End -->
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
  