<div class="page-about">
    <div class="container">

        <div class="row align-items-center">




            <div class="col-lg-7">
                <!-- About Us Content Start -->
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <!-- <h3 class="wow fadeInUp">about us</h3> -->
                         <h2 class="services-list-box animate__heartBeat animate__heartBeat_sec2 " style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">Empowering Logistics with Innovative Software Solutions</h2>
                    </div>
                    <!-- Section Title End -->
                    <p class="services-list-box animate__heartBeat animate__heartBeat_sec2 " style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                        ITElegant Software Solutions empowers logistics and transportation businesses to navigate
                        the complexities of modern logistics with innovative software solutions. We understand the
                        critical role efficient supply chains play in success, and our team is here to provide you with
                        the tools you need to optimise your operations, reduce costs, and gain a competitive edge
                        in the market.
                    </p>



                </div>
                <!-- About Us Content End -->
            </div>
            <div class="col-lg-5">
                <!-- About Us Image Start -->
                <div class="page-about-image">
                    <div class="about-img-1">
                        <figure class="image-anime reveal services-list-box" style="transform: translate(0px, 0px); opacity: 1; visibility: inherit;">
                            <img _ngcontent-ng-c657894600="" width="2560" height="1707" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s" alt="" decoding="async" fetchpriority="high" srcset="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s 560w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s 300w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s 124w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s 68w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s 136w, https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr2vNAHsmc1EU_v-UBdkjXjJ4kgB2CJhAlIQ&s 248w" sizes="(max-width: 2560px) 100vw, 2560px" class="attachment-full size-full" style="transform: translate(0px, 0px);">

                        </figure>
                    </div>

                </div>
                <!-- About Us Image End -->
            </div>



        </div>
    </div>
</div>
<section class="offers">
    <div class="max-content-width">
        <div class="container-fluid">
            <h4 class="title">IT Elegant for the Logistics Solutions</h4>
           

            <div class="row service-content">
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Digital Transformation in Logistics </h6>
                        <p class="desc">Embrace the future of logistics with our expertise in
                            cutting-edge technologies like AI, machine learning, and blockchain. We help you leverage
                            these technologies to automate processes, improve data-driven decision-making, and gain a
                            competitive advantage.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Custom Logistics Software Development </h6>
                        <p class="desc">Don&#39;t settle for generic solutions. We develop
                            custom logistics software tailored to your needs, ensuring a perfect fit for your unique
                            logistic business operations.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Warehouse Management Software (WMS)</h6>
                        <p class="desc">Optimise your warehouse operations with
                            efficient inventory management, order fulfilment tools, and automated picking and packing
                            processes. Improve space utilisation, reduce errors, and enhance efficiency.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Supply Chain Monitoring Software (SCMS)</h6>
                        <p class="desc">Proactively identify and address potential
                            disruptions throughout your supply chain. Our SCMS provides real-time data and analytics
                            to enhance visibility, improve forecasting accuracy, and ensure business continuity.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Transportation Logistics Software (TLS)</h6>
                        <p class="desc"> Optimise your transportation network with
                            intelligent routing, carrier management tools, and real-time shipment tracking. Reduce
                            transportation costs and ensure on-time deliveries.</p>
                    </div>
                </div>
                                <div class="col-12 col-md-6 col-lg-4 px-0">
                    <div class="service">
                        <h6 class="title">Logistics Management Software (LMS)</h6>
                        <p class="desc">Gain complete visibility and control over your supply
                            chain. Our comprehensive LMS streamlines processes automates tasks, and provides real-
                            time insights into inventory, warehousing, transportation, and delivery.</p>
                    </div>
                </div>
                            </div>
        </div>
    </div>
</section>
<div class="page-about">
    <div class="container">
        <div class="row align-items-center industry">
            <div class="col-lg-6">
                <!-- About Us Image Start -->
                <div class="page-about-image">
                    <div class="about-img-1">
                        <figure class="image-anime reveal services-list-box animate__heartBeat animate__heartBeat_sec2" style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInUp;">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTsb5_tZjTZGBaeHS7zoCvny90_RwbJjedn0Q&s" alt="" style="transform: translate(0px, 0px);">
                        </figure>
                    </div>

                </div>
                <!-- About Us Image End -->
            </div>

            <div class="col-lg-6">
                <!-- About Us Content Start -->
                <div class="about-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <!-- <h3 class="wow fadeInUp">about us</h3> -->
                         <h2>Our IT Solutions for the Logistics Industry</h2>
                    </div>
                    <ul class="our-solution">
                     
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i> Logistics Management Software
                            </p>
                        </li>
                        <li>
                            <p> <i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Transportation Logistics Software
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Supply Chain Monitoring Software

                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Warehouse Management Software
                            </p>
                        </li>
                        <li>
                            <p> <i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Route Optimisation Software

                                .</p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Transportation Management System
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Warehouse Execution System

                                .</p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>API Integration &amp; Data Analytics Platforms

                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>Data Security and Backup
                            </p>
                        </li>
                        <li>
                            <p><i class="bi bi-caret-right-fill" style="color: #f70b7f;"></i>GPS Tracking System
                            </p>
                        </li>
                    </ul>
                </div>
                <!-- About Us Content End -->
            </div>

        </div>
    </div>
</div>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mega-footer">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div >
                                <figure>
                                       <!-- <img src="../../assets/images/logo.jpeg" alt="logo" style="width: 2rem;"> -->
                                </figure>
                                <p>Elevating Tech Beyond Limits</p>
                                <div class="footer-about">
                                    <ul>
                                        <li><a class="text-lowercase">support&#64;ITElegant.com</a></li>
                                        <li><a>+447850514329</a></li>
                                    </ul>
                                </div>
                                    <div class="contact-detail-body mt-3">
                                        <ul>
                                            <li><a href="https://www.facebook.com/ayntech/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                                            <li><a href="https://www.instagram.com/ayntechuk/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                                            <li><a href="https://www.linkedin.com/company/ayn-tech-pvt-ltd" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                                            <li><a href="https://x.com/ayntechuk" target="_blank"><i class="bi bi-twitter"></i></a></li>
                                        </ul>
                                </div>     
                        </div>    
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <div class="footer-links">
                                <h2>pages</h2>
                                <ul>
                                    <li><a href="/home" routerLinkActive="active">Home</a></li>
                                    <li><a href="/about-us">About Us</a></li>
                                    <li><a href="/insights">Insights</a></li>
                                    <li><a href="/login">Login/Register</a></li>
                                    <li><a href="/contact-us">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                       
                        <div class="col-lg-2 col-md-4">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Industry</h2>
                                <ul>
                                    <ul>
                              <li><a href="/oil">Oil</a></li>
                              <li><a href="/banking">Banking</a></li>
                              <li><a href="/Retail">Retail</a></li>
                              <li><a href="/logistics">Logistics</a></li>
                              <li><a href="/manufacturing">Manufacturing</a></li>
                              <li><a href="/warehouses">Warehouses</a></li>
                              <li><a href="/dataCentre">Data Centre</a></li>
                              <li><a href="/shipping">Shipping</a></li>
  
          </ul>
                                </ul>
  
                            </div>
                            <!-- Footer Links End -->
                            
                        </div>
                        <div class="col-lg-2 col-md-4 col-6">
                            <!-- Footer Links Start -->
                            <div class="footer-links">
                                <h2>Services</h2>
                                <ul>
                                    <li><a href="/appDevelopmentComponent">Application Development</a></li>
                                    <li><a href="/aiSolutions">AI Solutions</a></li>
                                    <li><a href="/cyberSecurity">Cyber Security</a></li>
                                    <li><a href="/businessProcessOpt">Business Process Optimization</a></li>
                                    <li><a href="/CloudInfra">Cloud Infrastructure</a></li>
                                    <li><a href="/businessConsulting">Business Consulting</a></li>
                                    <li><a href="/dataAnalytics">Data &Analytics</a></li>
                                    <li><a href="/digitalExp">Digital Experience</a></li>
                                    <li><a href="/engSolutions">Engineering Solutions</a></li>
                                    <li><a href="/sustainability">Sustainability</a></li>
                                   
                                </ul>
                            </div>
                            <!-- Footer Links End -->
                        </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <ul class="footer-copy ps-0">
                            <li>Registered in England &amp; Wales |</li>
                        <!-- <li><a href="https://find-and-update.company-information.service.gov.uk/company/15750143">Company #15750143</a> </li>  -->
                        <li>Company #15750143 </li> 
                    </ul>
                       
                    
                    </div>
                
                </div>
                <div class="footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                         
                            <!-- Footer Copyright Content Start -->
                            <div class="footer-copyright-text">
                              <ul class="p-0">
                                  <li class="highlighted"><a href="#top" class="btn-top shadow-lg" role="button"><i class="bi bi-arrow-up-short" style="font-size: 3rem;"></i></a></li></ul>
                                <p>Copyright © 2024  ITElegant. All rights reserved.</p>
                            </div>
                            <!-- Footer Copyright Content End -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Footer Policy Links Start -->
                            <div class="footer-policy-links">
                                <ul>
                                    <!-- <li><a href="https://ayntech.org/privacy-policy">privacy policy</a></li>
                                    <li><a href="https://ayntech.org/terms-and-conditions">terms &amp; conditions</a></li>
                                    <li><a href="https://ayntech.org/cookie-policy">cookie policy</a></li> -->
                                    <!-- <li class="highlighted"><a href="#top">go to top</a></li> -->
                                    <li>privacy policy</li>
                                    <li>terms &amp; conditions</li>
                                    <li>cookie policy</li>
                                </ul>
                            </div>
                            <!-- Footer Policy Links End -->
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </div>
  