<header class="main-header">
    <div class="header-sticky">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand">
              <img src="../../assets/images/logo.jpeg" alt="logo" style="width: 1.5rem;">
           </a>
                <ul class="nav justify-content-end" style="width: 71%;">
                    <li class="nav-item"> 
                        <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
                         </li>
                         <li>
                        <a class="nav-link active" routerLink="/about-us" routerLinkActive="active" >About Us</a>
                         </li>
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Services
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                              <li><a class="dropdown-item" routerLink="/appDevelopmentComponent">Application Development</a></li>
                              <li><a class="dropdown-item" routerLink="/aiSolutions">AI Solutions</a></li>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" routerLink="/cyberSecurity">Cyber Security</a></li>
                              <li><a class="dropdown-item" routerLink="/businessProcessOpt">Business Process Optimization</a></li>
                              <li><a class="dropdown-item" routerLink="/CloudInfra">Cloud Infrastructure</a></li>
                              <li><a class="dropdown-item" routerLink="/businessConsulting">Business Consulting</a></li>
                              <li><a class="dropdown-item" routerLink="/dataAnalytics">Data & Analytics</a></li>
                              <li><a class="dropdown-item" routerLink="/digitalExp">Digital Experience</a></li>
                              <li><a class="dropdown-item" routerLink="/engSolutions">Engineering Solutions</a></li>
                              <li><a class="dropdown-item" routerLink="/sustainability">sustainability</a></li>
                            </ul>
                          </li>
                          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" aria-expanded="false">
                              Industry
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                              <li><a class="dropdown-item"  routerLink="/oil">Oil</a></li>
                              <li><a class="dropdown-item" routerLink="/banking">Banking</a></li>
                              <li>
                                <hr class="dropdown-divider">
                              </li>
                              <li><a class="dropdown-item" routerLink="/retail">Retail</a></li>
                              <li><a class="dropdown-item" routerLink="/logistics">Logistics</a></li>
                              <li><a class="dropdown-item" routerLink="/manufacturing">Manufacturing</a></li>
                              <li><a class="dropdown-item" routerLink="/warehouses">Warehouses</a></li>
                              <li><a class="dropdown-item" routerLink="/dataCentre">Data Centre</a></li>
                              <li><a class="dropdown-item" routerLink="/shipping">Shipping</a></li>

                            </ul>
                          </li>
                          <li class="nav-item"> 
                            <a class="nav-link active" routerLink="/insights" routerLinkActive="active">Insights</a>
                             </li>
                             <li>
                              <li class="nav-item"> 
                                <a class="nav-link active" routerLink="/careers" routerLinkActive="active">Careers</a>
                                 </li>
                                 <li class="nav-item">
                                  <a class="nav-link active"  routerLink="/contact-us">Contact Us</a>
                                 </li>
                    </ul>
                    <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-light text-bg-light" placeholder="Search..." aria-label="Search">
                      </form> -->
                      <!-- <div class="text-end">
                        <button type="button" class="btn btn-outline-dark me-2" routerLink="/login">Login/Register</button>
                      </div> -->
                      <!-- <div class="header-btn d-inline-flex">
                        <button type="button" class="btn btn-outline-dark me-2" routerLink="/contact-us">Contact Us</button>
                    </div> -->
            </div>
    </nav>
        </div>
    </header>
     
    <!-- <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand">
          <img src="https://suite.endole.co.uk/img/company_icon.png" alt="itelegantLogo"> 
     </a>
     <div class="toggle_style">
        <button class="navbar-toggler toggle-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
          <div class="offcanvas-header">
            <i class="bi bi-telephone-fill" style="font-size: 2rem; color: #f70b7f;font-size: 1.2rem;color: #f70b7f; width: 2rem;"></i>
            <a class="toggle-cl-font" href="tel:416-901-8633" target="_blank" rel="noopener">+447850514329</a>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="nav justify-content-end">
              <li class="nav-item"> 
                  <a class="nav-link active" routerLink="/home" routerLinkActive="active">Home</a>
                   </li>
                   <li>
                  <a class="nav-link active" routerLink="/about-us" routerLinkActive="active" >About Us</a>
                   </li>
                   <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" style=" left: -6rem !important;">
                        <li><a class="dropdown-item dropdown-font" routerLink="/appDevelopmentComponent">Application Development</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/aiSolutions">AI Solutions</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/cyberSecurity">Cyber Security</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/businessProcessOpt">Business Process Optimization</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/CloudInfra">Cloud Infrastructure</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/businessConsulting">Business Consulting</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/dataAnalytics">Data & Analytics</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/digitalExp">Digital Experience</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/engSolutions">Engineering Solutions</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/sustainability">sustainability</a></li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" role="button" aria-expanded="false">
                        Industry
                      </a>
                      <ul class="dropdown-menu dropdown-menu-dark" style=" left: -1rem !important;">
                        <li><a class="dropdown-item dropdown-font"  routerLink="/oil">Oil</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/banking">Banking</a></li>
                        <li>
                          <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/retail">Retail</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/logistics">Logistics</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/manufacturing">Manufacturing</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/warehouses">Warehouses</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/dataCentre">Data Centre</a></li>
                        <li><a class="dropdown-item dropdown-font" routerLink="/shipping">Shipping</a></li>

                      </ul>
                    </li>
                        <li class="nav-item">
                          <a class="nav-link active"  routerLink="/contact-us">Contact Us</a>
                        </li>
                              </ul>
          </div>
        </div>
      </div>
    </nav> -->